.root
{
	width: 100%;
	height: 100%;
}

#SpeedrunPanel
{
	width: 450px;
	height: 35px;
	align: center top;
	margin-left: 620px;
	flow-children: right;
	
	background-color: #00000000;
}

#SpeedrunCT
{
	width: 100%;
	font-size: 50px;
	color: white;
}

#SpeedrunPB
{
	align: left middle;
	vertical-align: middle;
	width: 40%;
	color: white;
	font-size: 15px;
}

#SpeedrunWR
{
	align: right middle;
	width: 100%;
	color: white;
	font-size: 16px;
	flow-children: down;
}
#SpeedrunWRsteam
{
	flow-children: right;
}

.avatar
{
	width: 15px;
	height: 15px;
}

.text
{
	text-align: center;
	font-family: monospaceNumbersFont;
	font-weight: bold;
	text-overflow: shrink;
}