.TalentTreeRoot
{
    vertical-align: center;
    horizontal-align:center;
    width: fit-children;
    height: fit-children;
    background-color: gradient( linear, 100% 0%, 100% 100%, from( #192229 ), to( #001017 ) );
    flow-children: down;
}

#TalentTreeColumnsContainer
{
    width: fit-children;
    height: fit-children;
    flow-children: right;
    margin: 5px;
}

.TalentTreeColumn
{
    width: fit-children;
    height: fit-children;
    flow-children: down;
}

.TalentTreeRow
{
    flow-children: right;
    margin-bottom: 10px;
}

.TalentTreeRow .TitleLabel
{
    color: white;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.TalentContainer {
    width: 64px;
    height: 64px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid dimgray;
}

.TalentContainer:hover {
    border: 1px solid white;
}

.TalentContainer #TalentImage {
    width: fill-parent-flow(1.0);
    height: fill-parent-flow(1.0);
}

.TalentContainer #TalentLevel {
    width: fill-parent-flow(1.0);
    font-size: 16px;
    color: white;
    background-color: #000000F0;
    text-align: center;
    text-overflow: shrink;
    vertical-align: bottom;
}

#TalentsResetButton
{
    width: fit-children;
    height: fit-children;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #4c5561 ), to( #6c7d88 ) );
    wash-color: #74EAFE66;
    horizontal-align:center;
    vertical-align: center;
    margin: 10px;
}

#TalentsResetButton:hover
{
    wash-color: #ffffff;
}

#TalentsResetButton Label
{
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 16px;
}